*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.places{
    padding: 60px 5%;
    height:60px 0;
    width:100%;
    background-color: lightcoral;
    display: flex;
    column-gap: 9%;
    flex-wrap: wrap;
}

.place{
    height:22%;
    width:350px;
    background-color: thistle;

}
.place-image{
    height:100%;
    width:350px;
    background-color: blue;
    overflow: hidden;
    flex-direction: row;
    display: flex;
    

}
.place-content{
    height: 150px;
    width:100%;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: start;

}
img{
    width: 100%;

}

.btn
{
    padding: 10px 25px;
    font-weight: bold;
    background-color: blue;
    border: none;
}

button {
    background-color: rgb(46, 121, 121);
    border: 500;
    size: 50px;
}

button:hover {
    background-color: tomato;
}